{% set url = url('user_password_reset', {token: resetToken.token}) %}

<article>
    <header>
        <h2>Hello there!</h2>
    </header>

    <section>
        <p>To reset your password, please visit the following url: <a href="{{ url }}">{{ url }}</a>.</p>
        <p>This link will expire in {{ tokenLifetime|date('g') }} hour(s).</p>
    </section>

    <footer>
        <p>Cheers!</p>
        <p>{{ site_name }}.</p>
    </footer>
</article>
