{% extends 'layout/wide.html.twig' %}

{% block title %}403 Access Denied - {{ site_name }}{% endblock %}

{% block header %}403  —  Access Denied{% endblock %}

{% block content %}<p>You don't have permission to access this page.</p>{% endblock %}
